<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DevelopConnectionString" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.10.100\SQLNESCOR;Initial Catalog=Sage500_app;Integrated Security=False;Persist Security Info=True;User ID=sa&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>